.ipynb_checkpoints/
.DS_*
__pycache__/
data/
.DS_Store
*.gz
*.zip
.Rproj.user
*.xl*
*.key
documents/
*.ipynb
*.DS_Store
*.RDataTmp
results/
cromwell/
cromwell-executions/
cromwell-workflow-logs/
logs/
*.jar
testData/
env.config
scripts/.RData
scripts/.Rhistory
MethodsDocumentation/
