backend {
    default = "Local"
    
    providers {
        Local {
            actor-factory = "cromwell.backend.impl.sfs.config.ConfigBackendLifecycleActorFactory"
            config {
                runtime-attributes = """
                    String? docker
                    Int cpu = 1
                    String memory = "2 GB"
                """
                
                submit-docker = """
                    docker run \
                        --rm \
                        --cpus="${cpu}" \
                        --memory="${memory}" \
                        -v ${cwd}:${docker_cwd} \
                        -w ${docker_cwd} \
                        ${docker} \
                        /bin/bash ${script}
                """
                
                concurrent-job-limit = 1
            }
        }
    }
}

database {
    profile = "slick.jdbc.HsqldbProfile$"
    db {
        driver = "org.hsqldb.jdbcDriver"
        url = "jdbc:hsqldb:mem:cromwell-db;shutdown=true;hsqldb.tx=mvcc"
        connectionTimeout = 1000
    }
}
